@model WatchIt.Models.Movie

@{
    ViewBag.Title = "SearchMovies";
}
<div class="container">
    <h2>SearchMovies</h2>
    
    <div class="form-group">
               <input type="text" id="moviename" class="form-control" placeholder="Search Movies"/>
            </div>
    <button id="Button1" type="submit" class="btn btn-default">Search</button>
    <div id="t1">
        
       
        
    </div>    
    <//div>